@import '../../style/variables.scss';

.app {
    &__banner {
        width: 100%;
        background-color: $dark;
        height: 100px;
        padding: 0 25px 0 45px;
        display: grid;
        grid-template-columns: 152px auto 133px;
        &-text {
            font-weight: bold;
            font-size: 24px;
            line-height: 32px;
            color: #FFFFFF;
            padding-left: 83px;
            padding-top: 18px;
        }
    }
}
@media (max-width: 730px) {
    .app {
        &__banner {
            padding: 0;
            &-text {
                font-size: 18px;
                padding-left: 20px;
            }
        }
    }
}   

@media (max-width: 500px) {
    .app {
        &__banner {
            grid-template-columns: none;
            grid-template-rows: auto;
            place-items: center;
            height: 300px;
            padding: 0;

            &-text {
                order: 2;
                text-align: center;
                padding: 0px 0px 0px 0px;
            }
            .avengers_pic{
                order: 3;
            }
            .avengers_logo{
                order: 1;
            }
        }
        
    }
}   
