@media (max-width: 930px) {
    .comics__grid{
        grid-template-columns: repeat(3, 225px);
        justify-content: space-evenly;
    }

}

@media (max-width: 730px) {
    .comics__grid{
        grid-template-columns: repeat(2, 225px);
        
    }
    .app {
        &__banner {
            padding: 0;
            &-text {
                font-size: 18px;
                padding-left: 20px;
            }
        }
    }
}   

@media (max-width: 500px) {
    .comics__grid{
        grid-template-columns: repeat(1, 225px);
        
    }
    .app {
        &__banner {
            grid-template-columns: none;
            grid-template-rows: auto;
            place-items: center;
            height: 300px;
            padding: 0;
            // display: flex;
            // flex-wrap: wrap;
            &-text {
                order: 2;
                text-align: center;
                padding: 0px 0px 0px 0px;
                
            }
            .avengers_pic{
                order: 3;
            }
            .avengers_logo{
                order: 1;
            }
        }
        
    }
}   
