@media (max-width: 930px) {
    .comics__grid{
        grid-template-columns: repeat(3, 225px);
        justify-content: space-evenly;
    }

}

@media (max-width: 730px) {
    .comics__grid{
        grid-template-columns: repeat(2, 225px);
        
    }

}   

@media (max-width: 500px) {
    .comics__grid{
        grid-template-columns: repeat(1, 225px);
        
    }

}   
