@import '../../style/variables.scss';

.app {
    &__header {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    &__title {
        font-weight: bold;
        font-size: 28px;
        line-height: 37px;
        span {
            color: $main-color;
        }
    }
    &__menu {
        ul {
            display: flex;
            justify-content: space-between;
            font-weight: bold;
            font-size: 24px;
            line-height: 32px;
            li {
                margin: 0 8px;
                a:hover {
                    color: $main-color;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .app {
        
        &__title {
            font-size: 20px;
        }
        &__menu {
            ul {
                font-size: 20px;
            }
        }
    }
}


@media (max-width: 576px) {
    .app {
        
        &__title {
            font-size: 22px;
        }
        &__menu {
            ul {
                font-size: 22px;
            }
        }
    }
}

@media (max-width: 440px) {
    .app {
        
        &__title {
            font-size: 16px;
        }
        &__menu {
            ul {
                font-size: 16px;
            }
        }
    }
}